@import "tailwindcss";

.animate-light-beam {
  background: linear-gradient(
    120deg,
    #003366 35%,
    #009ADE 50%,
    #003366 65%
  );
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: light-beam 8s linear infinite;
}

.animate-light-beam-dark {
  background: linear-gradient(
    120deg,
    #009ADE 35%,
    #003365 50%,
    #009ADE 65%
  );
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: light-beam 8s linear infinite;
}

@keyframes light-beam {
  0% { background-position: -200% center; }
  100% { background-position: 200% center; }
}
